In [3]:
a=1.1
print(a)

1.1

In [4]:
list1=range(1, 10)
print(list(list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
lst=[5,1,5,12,4,423,423,423,423,4,23]
print("Array elements:", lst)
lst[0:6:1]


list(range(1,5,2))

Array elements: [5, 1, 5, 12, 4, 423, 423, 423, 423, 4, 23]

[1, 3]

In [6]:
# 2*1 = 2

for i in range(0, 11):
    print(f"2 * {i} = {2*i}")
    if i==11:
        print("End of table")

print("Continuing...")

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Continuing...

In [7]:
# *
# **
# ***

for i in range(1, 4):
    print('*' * i)
# ***
# **
# *
for i in range(10, 0,-2):
    print('*' * i)

*
**
***
**********
********
******
****
**

In [8]:
# *****
#  ***
#   *
for i in range(5, 0, -2):
    print(' ' * ((5 - i)//2) + '*' * i)

*****
 ***
  *

*Star Pattern printing cross odd length numbers*

In [15]:
nums = "1234567"

for i in range(len(nums)):
    for j in range(len(nums)):
        if i == j or i + j == len(nums)-1:
            print(nums[i], end = " ")
        else:
            print(" ", end = " ")
    print()

1           1
  2       2
    3   3
      4
    5   5
  6       6
7           7

*Star Pattern printing cross odd length numbers*

In [17]:
nums = "7654321"

for i in range(len(nums)):
    for j in range(len(nums)):
        if i == j or i + j == len(nums)-1:
            print(nums[j], end = " ")
        else:
            print(" ", end = " ")
    print()

7           1
  6       2
    5   3
      4
    5   3
  6       2
7           1

*Pattern printing numbers*

In [18]:
nums = 4

for i in range(nums):
    k = 111
    for j in range(i+1):
        print(k, end =" ")
        k += 111
    print()

111
111 222
111 222 333
111 222 333 444

*Pattern printing numbers*

In [ ]:
nums = 5

for i in range(nums):
    k = 111
    for j in range(nums-i-1):
        print("   ", end = " ")
    for j in range(i+1):
        print(k, end =" ")
        k += 111
    print()

                111
            111 222
        111 222 333
    111 222 333 444
111 222 333 444 555

*Pattern printing numbers*

In [30]:
nums = 5

for i in range(nums):
    k = 111
    for j in range(nums-i-1):
        print("   ", end = " ")
    k *= (i+1)
    for j in range(i+1):
        print(k, end =" ")
        k -= 111
    print()

                111
            222 111
        333 222 111
    444 333 222 111
555 444 333 222 111

Diamond Star Pattern

In [53]:
row = 5
for i in range(row):
    for j in range(row-i):
        print(format("*", "<2"), end = "")
    for j in range(row - (row-i)):
        print(format("","<1"), end = "")
    # print()
    for j in range(row - (row-i)):
        print(format(" ", ">3"), end = "")
    for j in range(row-i):
        print(format("*", ">2"), end = "")
    print()

for i in range(row):
    for j in range(i+1):
        print(format("*", "<2"), end = "")
    for j in range(row-1-i):
        print(format("", "<1"), end = "")
    for j in range(row-1-i):
        print(format(" ", ">3"), end = "")
    for j in range(i+1):
        print(format("*", ">2"), end = "")

    print()

* * * * *  * * * * *
* * * *      * * * *
* * *          * * *
* *              * *
*                  *
*                  *
* *              * *
* * *          * * *
* * * *      * * * *
* * * * *  * * * * *

LCM

In [67]:
class Solution:
    # @staticmethod
    def Compute_LCM(self,n1, n2):
        if n1 > n2:
            higher = n1
        else:
            higher = n2

        value = higher

        while True:
            if higher % n1 == 0 and higher % n2 == 0:
                return(f"LCM of {n1} and {n2} is {higher}")
                break
            else:
                higher += value
sol = Solution()
print(sol.Compute_LCM(108,901))

LCM of 108 and 901 is 97308